body {
    opacity: 1;
    transition: 1s opacity;
    scroll-behavior: smooth;
}
body.fade-out {
    opacity: 0;
    transition: none;
}
#landing
{
	animation: fadein 3.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.text-center
{
  text-align: center;
}

.chineseText
{
  font-family: 'Noto Sans TC', sans-serif;
}

/*global section*/


/*jumbotron section*/

.jumbotron .container h1
{
  font-weight: 800;
  font-size: 85px;
}

.bg-light
{
	background-color: #E1E6EA;
}




.jumbotron
{
	min-height: 65vh;
	background-image: url("https://picsum.photos/2000");
	background-color: #ffffff;
	margin: 0px;
}
.vertical-center
{
	display: flex;
	align-items: center;
}

#jumboline
{
  size: 5;
  width: 80%;
  text-align: right;
  margin-left: 0;
}

/*intro section*/


#intro
{
	width: 100%;
	background-color: #E1E6EA;
	flex-direction: column;
  padding: 120px;
}

.introHeader
{
  font-weight: 300;
  font-size: 50px;
  text-align: center;
}


.container
{
  margin-right: auto;
  margin-left: auto;
}

.introbox
{
	max-width: 45%;
}
.bar
{
  align: center;
  border-color: black;
  border-width: 3px;
  width: 90px;
}


@media screen and (max-width: 991.98px) {
  .introHeader
  {
    font-weight: 300;
    font-size: 30px;
    text-align: center;
  }

}


/*im-highlihgt*/

.im-highlihgt
{
  background-color: #0c6291;
  padding-top: 80px;
  padding-bottom: 90px;
  max-width: 100%;
  margin-right: 0px;
  margin-left: 0px;
}


.feature-item
{
  margin-top: 20px;
}



@media screen and (max-width: 991.98px) {
  .feature-item
  {
    margin-top: 30px;
    padding-top: 40px;
  }
  
}


/* compulsory Course Intro */

#compulsory
{
  padding-top: 50px;
  background-color: #ced3dc;
}

#compulsory .container p
{
  font-size: 50px;
}

#compulsory .row div a img
{
  max-width: 100%;
  max-height: 100%;
  margin-right: auto;
  margin-left: auto;
}

#compulsory .container .row .container .text-center
{
  margin-top: 60px;
}

#compulsory .container .row .container .text-muted
{
  margin-top: 30px;
  font-size: 20px;
}


@media screen and (max-width: 1199.98px) {
  #compulsory .container .row .container .text-center
  {
    color: blue;
    font-weight: 300;
    font-size: 38px;
    margin-top: 0px;
    padding-top: 40px;
  }
  #compulsory .container .row .container .text-muted
  {
    font-weight: 100;
    margin-top: 10px;
    font-size: 17px;
  }
}

@media screen and (max-width: 991.98px) {
  #compulsory .container .row .container .text-center
  {
    color: white;
    font-weight: 300;
    font-size: 38px;
    margin-top: 0px;
    padding-top: 20px;
  }
  #compulsory .container .row .container .text-muted
  {
    font-weight: 100;
    margin-top: 5px;
    font-size: 14px;
  }
}


@media screen and (max-width: 767.98px) {
  #compulsory .container .row .container .text-center
  {
    color: red;
    font-weight: 300;
    font-size: 38px;
    margin-top: 0px;
    padding-top: 20px;
  }
  #compulsory .container .row .container .text-muted
  {
    font-weight: 100;
    margin-top: 5px;
    font-size: 14px;
  }
}



/*course gallery*/

#galleries
{
	min-height: 90vh;
	width: 100%;
	background-color: #A3B8CB;
	display: flex;
	flex-direction: column;
}
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 25px;
  background-color: transparent;
  color: #FFF;
  padding: 2em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.rowbox
{
	max-height: 50%;
	flex-direction: row;
}

.courses
{
	max-width: 33%;
}

#Selection
{
	padding: 120px;
}

.copyright
{
	background-color: #EDF5FC;
}